.tamagotchiContainer {
  display: block;
}

.tamagotchiIage {
  margin-left: 50px;
  width: 200px;
}

.imgContainer {
  display: flex;
  align-items: center;
}

.foodBar {
  display: flex;
}

.foodBar button {
  margin-right: 20px;
  border-radius: 20px;
  width: 80px;
}

.yum {
  width: 100px;
  position: absolute;
  margin-bottom: 140px;
  margin-right: 130px;
}
