.tamagotchiContainer {
  display: block;
}

.tamagotchiContainer img {
  margin-left: 50px;
  width: 200px;
}

.imgContainer {
  display: flex;
  align-items: center;
}

.foodBar {
  display: flex;
}

.foodBar button {
  margin-right: 20px;
  border-radius: 20px;
  width: 80px;
}
