.buttonContainer {
  display: flex;
}

.buttonContainer a {
  text-decoration: none;
  color: #f5f4f4;
  background-color: rgb(113, 113, 113);
  border: solid;
  padding: 10px 20px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100px;
  font-size: 12px;
}
