.rootLayout {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rootLayout > header {
  display: flex;
  /* justify-content: center; */
  border-bottom: 0.5px solid lightgray;
  padding: 12px;
}

.rootLayout > main {
  padding: 0px 30px;
  flex: 1;
  background-color: #f8fafc;
}

.rootLayout > footer {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid lightgray;
  /* padding: 12px; */
}
