.recurrencesForm label {
  display: block;
  margin-bottom: 4px;
  margin-left: 8px;
}

.saveButtonContainer{
  display: flex;
}

.saveButton {
  background-color: #015CC8;
  padding: 10px 40px;
  border-radius: 8%;
  color: white;
  border-width: 0;
  margin: 0 auto;
  margin-top: 10px;
}
