.list {
  padding-left: 10px;
}

/* Hide the browser's default checkbox */
.list input {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

.list div {
  display: flex;
  margin-bottom: 10px;
}

.list a:hover {
  color: grey;
}
