.navMenu {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: 0.5px solid lightgray;
}

.navMenu ul {
  display: flex;
  gap: 20px;
  /* margin: 0; */
  text-transform: uppercase;
  /* font-weight: bold; */
  justify-content: center;
  align-items: center;
  margin-left: -40px;
}

.navMenu li {
  list-style-type: none;
  font-size: 18px;
}

.navMenu li a {
  text-decoration: none;
  color: black;
}

.navMenu li a span {
  width: 50px;
}
